body {
background-color: aqua;
}

p {
    font-family: Arial, Helvetica, sans-serif;

}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}

header {
background-color: white;
border: 1px solid black;
text-align: center;
padding: 1%;
}

nav {
margin: auto;
border: 1px solid black;
text-align: center;
}

nav a {
    text-emphasis: none;
    margin: 0 15px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

nav a:hover {
    color: #ff6600; 
  text-decoration: underline; 
}
main {
        line-height: normal;
}

#home {
    background-color: aquamarine;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 25px;
}


#about {
    background-color: aquamarine;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 25px;
}

#projects {
    background-color: aquamarine;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 25px;
}

#contact {
    background-color: aquamarine;
    margin-top: 3%;
    margin-bottom: 3%;
    line-height: 25px;
}

li {
    list-style: none;
    margin-bottom: 5px;
    word-spacing: 1px;
    letter-spacing: 1px;
}


footer {
    background-color: grey;
    text-align: center;
    font-size: 13px;
}

